body {
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans", "Bitstream Vera Sans", sans-serif; /*Prefer Free Fonts*/
    color: #000;
    font-size: 100%;
}

p.motto {
    text-align: center;
    font-size: 80%;
}
